body {
    background-color: #637073;
}

header {
    border-radius: 25px;
    border-color: white;
    border-style: ridge;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}
 #grid_main{
    display: grid;
    grid-column: 3;
 }
#javascript {
    background-color: #F2E357;
    border-radius: 25px;
    border-color: white;
    border-style: ridge;
    display: flex;
    justify-content: center;
}

#game {
    background-color: #57DBF2;
    border-radius: 25px;
    border-color: white;
    border-style: ridge;
    display: flex;
    justify-content: center;
}

#contact {
    background-color: #F2579D;
    border-radius: 25px;
    border-color: white;
    border-style: ridge;
    display: flex;
    justify-content: center;
}