body {
    background-color: rgb(255, 0, 140);
}

.profile {
    background-color: moccasin;
    width: 20vw;
    height: 100vw;
    position: relative;
}

ul {
    position: absolute;
    top: 15%;
}

li {
    font-style: italic;
}

li::marker{
    color: rgb(255, 0, 140);
}

p {
    color: rgb(100, 74, 26);
    position: absolute;
    top: 10%;
}

img {
    top: 15vw;
    border-radius: 25%;
    border-color:  rgb(255, 0, 140);
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 0%;
    left: 20%;

}

.ref_github {
    background-color: rgb(255, 0, 140);
    border-radius: 25%;
    position: absolute;
    top: 25%;
    left: 40%;
}
